<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Product</title>
  </head>
  <body class="flex font-serif">
    <%- include('./dashboard.ejs'); %>
    <div class="form-container">
      <h1 class="font-bold text-4xl m-10">View Order</h1>
      <a href="/api/v1/view-order?total=3000">
        <button
          type="button"
          class="rounded-md bg-black px-3 py-2 ml-5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
        >
          Filter Product
        </button></a
      >

      <section class="mx-auto w-full max-w-7xl px-4">
        <div
          class="flex flex-col space-y-4 md:flex-row md:items-center md:justify-between md:space-y-0"
        ></div>
        <div class="mt-6 flex flex-col">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8"
            >
              <div class="overflow-hidden border border-gray-200 md:rounded-lg">
                <table class="min-w-[950px] divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      >
                        <span>Transaction Id</span>
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      >
                        <span>Full Name</span>
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      >
                        Contact Details
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      >
                        Shipping Address
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      >
                        Payment Mode
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      >
                        Product Details
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      >
                        Total Order
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% if(locals.data){%> <% data.forEach((element)=>{%>
                    <tr>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                      >
                        <span> <%= element._id %> </span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%= element.fullName %></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%= element.contact%></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%= element.shippingAddress %></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%= element.paymentMode%></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%= element.productDetails %></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%= element.totalprice %></span>
                      </td>
                    </tr>
                    <%});%> <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
