<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .profilepicture {
        border-radius: 50px;
      }
    </style>
  </head>
  <body class="bg-[#E3E7E7] font-serif">
    <section class="flex justify-between m-8">
      <text class="text-4xl">Product</text>
      <div class="ml-24 flex">
        <h1 class="text-2xl ml-64 flex gap-4">
          <% if (locals.profilePicture){%>
          <img
            class="profilepicture"
            src="/temp/<%= profilePicture[0].avatar %>"
            height="70"
            width="70"
          />
          <%}%> Hi, <%= userId %> |
          <a href="/api/v1/editprofile" class="text-xl text-[#2C0B8E]"
            >Edit Account</a
          >
          | <a href="" class="text-xl text-[#2C0B8E]">Delete Account</a> |
        </h1>
      </div>

      <a href="cart" class="mr-20">
        <button class="text-2xl">
          Cart <% if (data){%>
          <sup><%= data.length %> <% }%></sup>
        </button></a
      >
    </section>

    <div>
      <label class="block text-3xl text-semibold ml-5">Categories</label>
      <div class="flex justify-center relative left-[-400px]">
        <a href="/api/v1/site?category=electronic"
          ><button class="text-xl p-3 bg-orange-300 ml-10 rounded-lg">
            Electronic
          </button></a
        >
        <a href="/api/v1/site?category=grocery"
          ><button class="text-xl p-3 bg-orange-300 ml-10 rounded-lg">
            Grocery
          </button></a
        >
        <a href="/api/v1/site?category=stationery"
          ><button class="text-xl p-3 bg-orange-300 ml-10 rounded-lg">
            Stationery
          </button></a
        >
      </div>
      <%if (locals.filterCategory) {%>
      <div class="flex font-serif space-y-4 mt-4">
        <% filterCategory.forEach((element)=>{%>
        <div
          class="flex flex-col bg-white space-y-3 mx-10 py-5 text-xl px-10 text-center"
        >
          <form action="/api/v1/addtocart" method="POST">
            <img
              class="relative left-3"
              src="/temp/<%= element.avatar%>"
              width="200"
              height="200"
            />
            <div class="pt-4 text-left">
              <%= element.productName.toUpperCase() %>
            </div>
            <div class="text-left">Rs. <%= element.price %></div>
            <div><%= element.description %></div>

            <a href="/api/v1/site">
              <button class="text-xl bg-orange-400 mt-5 p-2 rounded-lg">
                Add to Cart
              </button></a
            >
            <div class="relative top-5 bg-green-100 p-3">
              <%= element.storeOf %>
            </div>

            <input type="hidden" name="_id" value="<%= element._id %>" />
          </form>
        </div>

        <%})%>
      </div>
      <%}%>
    </div>

    <h1 class="text-center text-3xl pb-4 mt-5">Limited Offer</h1>
    <div class="flex font-serif space-y-4">
      <% auctionProduct.forEach((element)=>{%>
      <div
        class="flex flex-col bg-white min-h-[600px] space-y-3 mx-7 py-5 text-xl px-10 text-center"
      >
        <form action="/api/v1/bidding" method="POST">
          <img
            class="relative left-3"
            src="/temp/<%= element.avatar%>"
            width="200"
            height="200"
          />
          <div class="pt-4 text-left">
            <%= element.productName.toUpperCase() %>
          </div>
          <div class="text-left">Base Price : Rs. <%= element.price %></div>
          <div><%= element.description %></div>
          <input
            type="text"
            class="block text-center mt-3"
            placeholder="Bid Amount"
            name="bidAmount"
          />
          <a href="/api/v1/site">
            <button class="text-xl bg-orange-400 mt-5 p-2 px-7 rounded-lg">
              Bid
            </button></a
          >
          <div class="text-lg mt-2">
            Created On: 2024-02-<%= element.createdAt.getDate() %> <%=
            element.createdAt.getHours()%>:<%=
            element.createdAt.getMinutes()%>:<%=
            element.createdAt.getSeconds()%>
          </div>
          <div class="text-lg">
            Exp. On: 2024-02-<%= time.getDate()+5%> <%= time.getHours()%>:<%=
            time.getMinutes()%>:<%= time.getSeconds()%>
          </div>
          <div>
            Time Left: <%= element.createdAt.getDate() +5 -
            element.createdAt.getDate() %>
          </div>

          <div class="relative top-5 bg-green-100 p-3">
            <%= element.storeOf %>
          </div>
          <input type="hidden" name="basePrice" value="<%= element.price%>" />
          <input type="hidden" name="productId" value="<%= element._id %>" />
          <input
            type="hidden"
            name="productName"
            value="<%= element.productName %>"
          />
          <input type="hidden" name="userId" value="<%= userId %>" />
        </form>
      </div>

      <%})%>
    </div>

    <h1 class="text-center text-3xl pb-4 mt-6">Just For You</h1>
    <%if (locals.mrpProduct) {%>
    <div class="flex font-serif space-y-4">
      <% mrpProduct.forEach((element)=>{%>
      <div
        class="flex flex-col bg-white space-y-3 mx-10 py-5 text-xl px-10 text-center"
      >
        <form action="/api/v1/addtocart" method="POST">
          <img src="/temp/<%= element.avatar%>" width="200" height="200" />
          <div class="pt-4 text-left">
            <%= element.productName.toUpperCase() %>
          </div>
          <div class="text-left">Rs. <%= element.price %></div>
          <div><%= element.description %></div>

          <a href="/api/v1/site">
            <button class="text-xl bg-orange-400 mt-5 p-2 rounded-lg">
              Add to Cart
            </button></a
          >
          <div class="relative top-5 bg-green-100 p-3">
            <%= element.storeOf %>
          </div>

          <input type="hidden" name="_id" value="<%= element._id %>" />
        </form>
      </div>

      <%})%>
    </div>
    <%}%>

    <div class="mb-10">
      <h1 class="text-center text-3xl pb-4 mt-6">Filter by Location</h1>
      <form class="flex justify-around" action="/api/v1/nearby" method="POST">
        <button class="text-2xl relative left-[900px] top-[-90px]">
          Search
        </button>
        <div class="flex flex-col">
          <label class="text-2xl text-medium">Longitude</label>
          <input
            class="flex h-10 w-96 rounded-md border-2 border-black bg-transparent px-3 py-2 my-3 text-xl placeholder:text-gray-400"
            placeholder="Longitude"
            type="text"
            id="price"
            name="longitude"
          />
        </div>
        <div>
          <label class="text-2xl text-medium">Latitude</label>
          <input
            class="flex h-10 w-96 rounded-md border-2 border-black bg-transparent px-3 py-2 my-3 text-xl placeholder:text-gray-400"
            placeholder="Latitude"
            type="text"
            id="price"
            name="latitude"
          />
        </div>
      </form>
    </div>

    <%if (locals.nearbyProduct) {%>
    <h1 class="text-center text-3xl pb-4 mt-6">Based on Location</h1>
    <div class="flex font-serif space-y-4">
      <% nearbyProduct.forEach((element)=>{%>
      <div
        class="flex flex-col bg-white space-y-3 mx-10 py-5 text-xl px-10 text-center"
      >
        <form action="/api/v1/addtocart" method="POST">
          <img src="/temp/<%= element.avatar%>" width="200" height="200" />
          <div class="pt-4 text-left">
            <%= element.productName.toUpperCase() %>
          </div>
          <div class="text-left">Rs. <%= element.price %></div>
          <div><%= element.description %></div>

          <a href="/api/v1/site">
            <button class="text-xl bg-orange-400 mt-5 p-2 rounded-lg">
              Add to Cart
            </button></a
          >
          <div class="relative top-5 bg-green-100 p-3">
            <%= element.storeOf %>
          </div>

          <input type="hidden" name="_id" value="<%= element._id %>" />
        </form>
      </div>

      <%})%>
    </div>
    <%}%>
  </body>
</html>
