<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Product</title>
  </head>
  <body class="flex font-serif">
    <%- include('../product/dashboard.ejs'); %>
    <div class="form-container">
      <h1 class="font-bold text-4xl m-10">View User</h1>
      <section class="mx-auto w-full max-w-7xl px-4">
        <div
          class="flex flex-col space-y-4 md:flex-row md:items-center md:justify-between md:space-y-0"
        >
        </div>
        <div class="mt-6 flex flex-col">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8"
            >
              <div class="overflow-hidden border border-gray-200 md:rounded-lg">
               
                <table class="min-w-[950px] divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      >
                        <span>User Profile</span>
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                        
                      >
                        <span>User Name</span>
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                        
                      >
                        Email
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                        
                      >
                        Contact Details
                      </th>
                      <th
                        scope="col"
                        class="px-4 py-3.5 text-left text-xl font-bold text-black"
                        
                      >
                        Role
                      </th>
                      <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-xl font-bold text-black"
                      
                    >
                      Status
                    </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% if(locals.details){%>
                        <% details.forEach((element)=>{%>
                    <tr>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                      >
                        <span></span>
                          <img src='/temp/<%= element.avatar %>' width="100" height="50"/>
                        </span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%- element.fullname %></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%- element.email %></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%- element.contact %></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span><%- element.role %></span>
                      </td>
                      <td
                        scope="col"
                        class="px-4 py-3.5 text-left text-lg font-normal"
                      >
                        <span class="bg-[#FEAB27] text-white p-2">Unverified</span>
                      </td>
                    
                      
                    </tr>
                    <%});%>
                    <%}%>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
